services:
   dev:
     image: evosax-env:latest
     build: .
     stdin_open: true
     tty: true
     environment: 
      - TERM=xterm-256color
     pull_policy: build
     volumes:
       - .:/workspace
     deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]